@font-face {
  font-family: 'Rubik One';
  src: url('../fonts/RubikOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.generateButton {
  display: flex;
  height: 80px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: min-content;

  border-radius: 16px;
  background: var(--green, #a7a6a6);
  cursor: pointer;
}

.generateButton:active {
  /*  Making button bigger on hover  */
  transform: scale(1.05) perspective(1px)
}

.buttonIcon {
  width: auto;
  height: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .generateButton:hover { transform: scale(1.05) perspective(1px); }
}
